<nav>
  <div class="navbar">
    <div class="logo">
      <a href="index.html">
        <img src="../Images/METRO JOBS FINAL LOGO.png" alt="MetroJobs Logo" />
      </a>
    </div>
    <ul class="menu">
      <li><a href="index.html">Home</a></li>
      <li><a href="about.html">About Us</a></li>
      <li><a href="../jobs.html">Job Openings</a></li>
      <li><a href="facilities.html">Branches</a></li>
      <li><a href="contacts.html">Contacts</a></li>
    </ul>
    <div class="menu-toggle">
      <span></span>
      <span></span>
      <span></span>
    </div>
  </div>
</nav>
